@{
    ViewBag.Title = "Centric's Core Values";
}
<h2>@ViewBag.Title</h2>
<br />

<ul>
    <li>Commit to delivery excellence</li>
    <br />
    <li>Embrace integrity and openness</li>
    <br />
    <li>Practice responsible stewardship</li>
    <br />
    <li>Invest in an exceptional culture</li>
    <br />
    <li>Ignite passion for the greater good</li>
    <br />
    <li>Strive to innovate</li>
    <br />
    <li>Live a balanced life</li>
</ul>