@{
    ViewBag.Title = "About Centric";
}
<h2>@ViewBag.Title</h2>
<h3>Core Values:</h3>
<br />

<ul>
    <li>Always being willing to help</li>
    <br />
    <li>Treating clients like friends – because that’s what you become</li>
    <br />
    <li>Doing what it takes – together</li>
    <br />
    <li>Putting you first</li>
</ul>