@{
    ViewBag.Title = "Contact";
}
<h2>Centric Consulting</h2>
<h3>Contact the Development Team</h3>

<address>
    1020 Dennison Ave<br />
    Columbus, OH 43201<br />
    <abbr title="Phone">P:</abbr>
    (614) 205-8112
</address>

<address>

    <h3>Product Owner</h3>
    Caroline Weist
    <br /><strong>Email:</strong>   <a href="mailto:caroline.weist@centricconsulting.com">caroline.weist@centricconsulting.com</a><br />

    <h3>Development Team</h3>
    Jordon Kiger
    <br /><strong>Email:</strong>   <a href="mailto:jk582215@ohio.edu">jk582215@ohio.edu</a><br />
    Joey Dale
    <br /><strong>Email:</strong>   <a href="mailto:jd713116@ohio.edu">jd713116@ohio.edu</a><br />
    Jess Carr
    <br /><strong>Email:</strong>   <a href="mailto:jc086615@ohio.edu">jc086615@ohio.edu</a><br />
    Matt Kontra
    <br /><strong>Email:</strong>   <a href="mailto:mk637215@ohio.edu">mk637215@ohio.edu</a><br />
    Liza Boyd
    <br /><strong>Email:</strong>   <a href="mailto:lb031316@ohio.edu">lb031316@ohio.edu</a><br />


</address>