@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to the Centric Consulting Gamification Application!</h2>
    <p class="lead">Click to view the Centric Consulting Website</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           
        </p>
        <p></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></a></p>
    </div>
</div>