@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to the Centric Consulting Gamification Application!</h2>
    <p class="lead">Click to view the Centric Consulting Website</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stay Connected with Centric!</h2>
        <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-md">Website &raquo;</a></p>
        <p><a href="https://twitter.com/centric?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="btn btn-primary btn-md">Twitter &raquo;</a></p>
        <p><a href="https://www.facebook.com/CentricConsultingNational/" class="btn btn-primary btn-md">Facebook &raquo;</a></p>
        <p><a href="https://www.instagram.com/centricconsulting/?hl=en" class="btn btn-primary btn-md">Instagram &raquo;</a></p>
        <p><a href="https://www.linkedin.com/company/centric-consulting" class="btn btn-primary btn-md">LinkedIn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></a></p>
    </div>
</div>